{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card-body">
    <h1>Detail Book</h1>
    <br>
    <h2>Title</h2>
    <h4>{{book.title}}</h4>
    <br>
    <h2>Author</h2>
    <h4>{{book.author}}</h4>
    <br>
    <h2>Price</h2>
    <h4>{{book.price}}</h4>
    <br>
    <h2>Published</h2>
    <h4>{{book.published}}</h4>
    <br>
    <img src="/media/{{ book.image }}" width='130' />
    <a type="button" class="btn btn-danger" href="{%url 'book-list' %}">Cancel</a>
</div>
{% endblock %}